@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Regular.eot") format("embedded-opentype"),
    url("../font/Gilroy-Regular.ttf") format("truetype"),
    url("../font/Gilroy-Regular.woff") format("woff"),
    url("../font/Gilroy-Regular.woff2") format("woff2");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
button,
a,
textarea,
div {
  font-family: Gilroy;
  color: var(--black, #141414);
}

a:hover {
  color: #29abf5;
  transition: 0.5s;
}

.wrapper {
  width: auto;
  background-color: #f4f4f4;
}

section {
  width: 1440px;
  justify-content: flex-start;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 40px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-weight: 700;
  font-size: 14px;
}

p {
  font-weight: 400;
  font-size: 14px;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid var(--black, #141414);
  background-color: white;
  cursor: pointer;
}

/* NAVIGATION BAR */

#logo {
  margin: 19px 0px 19px 165px;
}

.nav_bar {
  display: flex;
  align-items: center;
}

.nav_bar_list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.nav_bar_list li:last-child {
  margin-right: 74px;
}

.nav_bar_list a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 44px;
}

.nav_bar button {
  width: 175px;
  height: 50px;
}

.nav_bar p {
  margin-left: 33px;
}

#arrow_down {
  margin-right: 166px;
  width: 8px;
  height: 4px;
}

/* pop-up */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}

.popup1 {
  width: 410px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 2;
}

.popup2 {
  width: 410px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 2;
  text-align: center;
}

.popup2 img {
  margin: 0px 175px;
}

.popup2 p {
  margin: 10px 32px 0px 33px;
}

.popup2 button {
  width: 84px;
  margin: 26px 163px 40px;
  color: white;
  background-color: #141414;
}

.close_btn img {
  cursor: pointer;
  margin: 20px 20px 20px 374px;
}

.form {
  margin: 0px 40px 26px;
}

.num_special {
  display: flex;
  border-radius: 10px;
  border: 1px solid var(--gray-4, #bdbdbd);
  align-items: center;
  width: 110px;
  height: 44px;
  gap: 5px;
  justify-content: center;
}

#num_special {
  gap: 10px;
}
#num_special input {
  width: 210px;
}

.form_element {
  display: flex;
  position: relative;
}

.form_element input {
  width: 330px;
  height: 44px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid var(--gray-4, #bdbdbd);
  padding-left: 20px;
  text-align: left;
}

.error {
  position: absolute;
  top: 46px;
  right: 0px;
  color: red;
  font-size: 13px;
}

#order_btn.button-success {
  background-color: black;
  transition: 0.5s;
}

.form_element textarea {
  width: 330px;
  border-radius: 10px;
  border: 1px solid var(--gray-4, #bdbdbd);
  padding: 16px;
  margin-bottom: 20px;
}

.form p {
  margin: 0;
}

.form h2 {
  margin-bottom: 20px;
  text-align: center;
}
.form_element button {
  border-radius: 10px;
  border-color: var(--gray-4, #bdbdbd);
  background: var(--gray-4, #bdbdbd);
  color: white;
  width: 133px;
}

#form_bottom {
  gap: 95px;
}

.add_file {
  width: 102px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* BLOG ITSELF */

.blog {
  margin: 40px 165px 120px;
}

.blog h2 {
  margin-bottom: 30px;
}
.blog_btns ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

.blog_btns button {
  border-radius: 20px;
  padding: 12px 20px 10px 20px;
  font-weight: 400px;
  cursor: pointer;
}

.blog_btns .button.active {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.blog_bottom ul {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  list-style: none;
  column-gap: 30px;
  row-gap: 30px;
}

.blog_element {
    display: flex;
    position: relative;
  }

.blog_e_child {
  position: absolute;
  top: 190px;
  left: 30px;
}

#blog_form {
  border-radius: 10px;
  border: 1px solid var(--gray-4, #bdbdbd);
}

#blog_form input {
  width: 277px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid var(--gray-4, #bdbdbd);
  background: #fff;
  padding-left: 20px;
}

#blog_form_child {
  margin: 30px 210px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#blog_form button {
  width: 154px;
  height: 50px;
  background-color: #bdbdbd;
  color: white;
  border-color: #bdbdbd;
}

#e-name-b{
    top: 137px;
    right: 210px;
}
#e-email-b{
    top: 202px;
    right: 210px;
}

#sub_btn_b.button-success {
    background-color: black;
    transition: 0.5s;
  }

.blog_date {
  color: darkgray;
  margin-bottom: 15px;
}

#more_blog{
    padding: 17px 30px;
    margin: 40px 473px 0px;
}

#more_blog.button-active{
    margin-left: 493px;
}

.blog_ul {
  display: none;
}

.blog_ul.active {
  margin-top: 30px;
  display: grid;
  row-gap: 30px;
  grid-template-columns: repeat(2, 2fr);
  list-style: none;
  column-gap: 30px;
}

/* LETS TALK */

#ok_t{
  padding: 17px 30px;
}

.lets_talk {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 80px 474px;
  background-color: #f4f4f4;
  text-align: center;
  align-items: center;
}
.LT_phone {
  display: flex;
  gap: 20px;
}
#talk_btn {
  margin-top: 25px;
  width: 191px;
  height: 50px;
  color: white;
  background: var(--black, #141414);
}

#talk_btn_o {
  height: 50px;
}

#talk_btn_o.button-success {
  background-color: black;
  transition: 0.5s;
}

/* FOOTER */

#footer {
  display: flex;
}

.f1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 50px 521px 65px 165px;
}

.f1_bottom {
  display: flex;
  position: relative;
  gap: 10px;
}

.fb_icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.insta_icon {
  position: absolute;
  top: 10px;
  left: 54px;
}

#f_logo {
  width: 140px;
}
#f1_circle {
  width: 34px;
}

.f2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 70px 66px 61px 0px;
}

.f3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 70px 0px 35px 0px;
}

.f3 a {
  text-decoration: none;
}

#line {
  margin: 0px 165px 20px;
}

#end {
  display: flex;
  margin: 0px 165px 20px;
  gap: 714px;
}

