/* BLOG ITSELF */

.blog {
  margin: 40px 165px 120px;
}

.blog h2 {
  margin-bottom: 30px;
}
.blog_btns ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

.blog_btns button {
  border-radius: 20px;
  padding: 12px 20px 10px 20px;
  font-weight: 400px;
  cursor: pointer;
}

.blog_btns .button.active {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.blog_bottom ul {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  list-style: none;
  column-gap: 30px;
  row-gap: 30px;
}

.blog_element {
    display: flex;
    position: relative;
  }

.blog_e_child {
  position: absolute;
  top: 190px;
  left: 30px;
}

#blog_form {
  border-radius: 10px;
  border: 1px solid var(--gray-4, #bdbdbd);
}

#blog_form input {
  width: 277px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid var(--gray-4, #bdbdbd);
  background: #fff;
  padding-left: 20px;
}

#blog_form_child {
  margin: 30px 210px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#blog_form button {
  width: 154px;
  height: 50px;
  background-color: #bdbdbd;
  color: white;
  border-color: #bdbdbd;
}

#e-name-b{
    top: 137px;
    right: 210px;
}
#e-email-b{
    top: 202px;
    right: 210px;
}

#sub_btn_b.button-success {
    background-color: black;
    transition: 0.5s;
  }

.blog_date {
  color: darkgray;
  margin-bottom: 15px;
}

#more_blog{
    padding: 17px 30px;
    margin: 40px 473px 0px;
}

#more_blog.button-active{
    margin-left: 493px;
}

.blog_ul {
  display: none;
}

.blog_ul.active {
  margin-top: 30px;
  display: grid;
  row-gap: 30px;
  grid-template-columns: repeat(2, 2fr);
  list-style: none;
  column-gap: 30px;
}

