@font-face {
    font-family: "Gilroy";
    src:
        url('../font/Gilroy-Regular.eot') format('embedded-opentype'),
        url('../font/Gilroy-Regular.ttf') format('truetype'),
        url('../font/Gilroy-Regular.woff') format('woff'),
        url('../font/Gilroy-Regular.woff2') format('woff2');
    font-style: normal;
}

*{
    margin: 0;
}

section{
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    margin: 0 auto;
}

h1 {
    color: var(--black, #141414);
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
  }

h2{
    color: var(--black, #141414);
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

h3{
    color: var(--black, #141414);
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

p{
    color: var(--black, #141414);
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
}

button{
    color: var(--black, #141414);
    display: inline-flex;
    padding: 17px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

#logo{
    margin:19px 0px 19px 165px;
}

.nav_bar{
    display: flex;
    align-items: center;
}

.nav_bar_list{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav_bar_list li:last-child{
    margin-right: 74px; 
}

.nav_bar_list a{
color: var(--black, #141414);
font-family: Gilroy;
font-size: 16px;
font-weight: 400;
line-height: 100%;
text-decoration: none;
margin-right: 44px;
}


.nav_bar button{
border-radius: 10px;
border: 1px solid var(--black, #141414);
background-color: white;
}

.nav_bar p{
margin-left: 33px;
color: var(--black, #141414);
font-size: 14px;
}

#arrow_down{
margin-right: 166px;
width: 8px;
height: 4px;
flex-shrink: 0;
stroke-width: 1px;
stroke: var(--black, #141414);
}

/* visit card */

.visit_card_left{
    margin-top: 181px;
    padding-left: 165px;
    margin-bottom: 180px;
}


.visit_card_left h1{
width: 600px;
height: 88px;
padding-right: 95px;

line-height: 110%;
}  

.visit_card_left p{
    width: 291px;
    height: 51px;
    padding-top: 20px;
}

.visit_card_left button{
color: white;
border-radius: 10px;
background: var(--black, #141414);
margin-top: 40px;
}

.visit_card-right {
    display: flex;
    flex-direction: row;
  }

  .visit_card-right img {
    position: relative;
  }

  #rect2 {
    top: -41px;
    left: 41px;
  }
  
  #rect3 {
    top: 87px;
    left: -73px;
  }
  
  #rect4 {
    top: 128px;
    left: -396px;
  }  
  

 /* reasons */

 .reasons_left{
    margin-top: 80px;
    margin-bottom: 400px;
    padding-left: 165px;
}

.reasons_left h2{
    line-height: 120%;
    width: 350px;
    height: 72px;
}

.reasons_right ul{
    display: grid;
    margin: 199px 206px 80px 30px;
    grid-template-columns: repeat(2, 3fr);
    row-gap: 40px;
    column-gap: 35px;
    list-style: none;
    align-items: center;
    padding-inline-start: 0px;
}

.reasons_right li{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* offers */

.offers_left{
    margin-top: 80px;
    margin-bottom: 526px;
    padding-left: 165px;
}

.offers_left h2{
    width: 287px;
    height: 30px;
}

.offers_right ul{
    display: grid;
    margin: 199px 206px 120px 83px;
    grid-template-columns: repeat(2, 4fr);
    row-gap: 40px;
    column-gap: 35px;
    list-style: none;
    align-items: center;
    padding-inline-start: 0px;
}

.offers_right li{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* services */
#services{
    flex-direction: column;
}

.services_top h2{
    width: 115px;
    height: 30px;
    padding: 0px 0px 30px 165px;
}

.services_bottom ul{
    display: grid;
    margin: 30px 165px 81px 165px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 35px;
    list-style: none;
    align-items: center;
    padding-inline-start: 0px;
}

.services_bottom li{
    width: 350px;
    padding: 30px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #F4F4F4;
}

.services_bottom h3{margin-bottom: 23px;}

.services_bottom img{height: 16px;width: 16px;}

#bold_p{font-weight: 700; margin-top: 29px;}

#learn_more{display: flex;}

#learn_more img{margin-top: 29px; margin-left: 7px;}